
.env

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

node_modules
